.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
h4 {
  width: 75%;
  text-align: center;
  font-family: 'verdana';
  font-weight: normal;
  color: white;
  font-size: 14px;
  margin: 0 auto 1em auto;
  padding: 1em;
  background: #b63642;
}
p {
  text-align: center;
  font-family: 'verdana';
  margin: 3em auto 1em auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #414141;
  background: #f4f4f4;
}

.cal2 {
  margin: 30px auto;
  max-width: 352px;
  font-family: 'verdana';
  font-size: 12px;
  font-weight:bold;
  color:white;
  
}
.cal2 .clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  margin-bottom: 3px;
  background: #a52626;
  border: 1px solid #000
}
.cal2 .clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 10%;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #f4f4f4;
}
.cal2 .clndr .clndr-controls .month {
  float: left;
  width: 80%;
  text-align: center;
}
.cal2 .clndr .clndr-controls .clndr-next-button {
  float: left;
  width: 10%;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #f4f4f4;
}
.cal2 .clndr .clndr-grid {
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 1px solid #000
}
.cal2 .clndr .clndr-grid .header-day {
  float: left;
  display: inline-block;
  width: 14.2857%;
  height: 25px;
  background: #a52626;
}
.cal2 .clndr .clndr-grid .day {
  float: left;
  display: inline-block;
  width: 14.2857%;
  height: 25px;
  background:  #ce3030;
}

.cal2 .clndr .clndr-grid .day.event {
  background-color:#0b2686;
}

.cal2 .clndr .clndr-grid .day.event.clicked {
  background-color:#3b62ef;
}

.cal2 .clndr .clndr-grid .day.event:hover {
  background-color:#0f33b5;
}

.cal2 .clndr .clndr-grid .day.event:active {
  background-color: #3b62ef;
}

.cal2 .clndr .clndr-grid .day.today {
  background-color: #E3C57F;
}
.cal2 .clndr .clndr-grid .empty,
.cal2 .clndr .clndr-grid .adjacent-month {
  float: left;
  width: 14.2857%;
  height: 25px;
  background: #ddd;
}

.cal2 .event-listing {
  float: left;
  width: 100%;
}
.cal2 .event-listing .event-listing-title {
  text-align: center;
  color: black;
  letter-spacing: 1px;
}
.cal2 .event-listing .event-item {
  color: #4f4f4f;
}
.cal2 .event-listing .event-item-location {
  font-weight: 400;
}
