.tg  {
	border-collapse:collapse;
	border-spacing:0;
	text-align: left;

	}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-top-width:0px;
	border-bottom-width:0px;
	}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-top-width:0px;
	border-bottom-width:0px;
	}
.tg .tg-0ki0{
	color:#9a0000;
	width:30%;
	vertical-align:top;
	}